<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">

<head th:replace="fragments :: page_head('Admin panel', 'none')">
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"> </div>
    <div>
        <h2> Shopme Control Panel </h2>
    </div>
    Weclome
    <a th:href="@{/account}"   sec:authentication="principal.fullname"> </a>
    <span sec:authentication="principal.authorities"></span>

    <div th:replace="fragments :: footer"></div>


</div>



</body>
</html>