<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="content" class="col-sm-2">
    <div>
        <a th:href="@{'/p/' + ${product.alias}}">
            <img th:src="@{${product.mainImagePath}}" width="150">
            <br/>
            <b>[[${product.shortName}]]</b>
        </a>
    </div>
    <div th:if="${product.discountPercent <= 0}">
        <span>$&nbsp;[[${product.prise}]]</span>
    </div>
    <div th:if="${product.discountPercent > 0}">
        <span style="font-size: larger; color: darkred">$ [[${product.discountPrise}]]</span>
        <del><span>$&nbsp;[[${product.prise}]]</span></del>
    </div>
</div>
</body>
</html>